/*etiquetas, identificadores, clases y pseudoelementos-> TODOS SE DEBEN PONER EN ORDEN ALFABETICO*/
body 
{
	/*atributos:valor;*/
	background: rgb(255,255,255);
	color: #000000;
	/*maxwidth es el ancho maximo de la pantalla*/
	margin:0 auto;
	/*0 significa que no se mueve ni arriba ni abajo, el auto distribuye el espacio vacio a ambos lados de la caja*/
	max-width: 1024px;
}

header 
{
	background: black;
	border:1px solid black;
	border-radius: 10px; 
	color: white;
}

header h1 { text-align: center;}

header nav ul li 
{
	/*border: 1px solid white;*/
	background: white;
	border-radius: 5px;
	color: black;
	display: inline-block; /*Rompe modelo de cajas*/
	margin-right: 50px;
	padding: 10px;
}

header nav ul li:hover
{
	background: black;
	color: white;
}

header nav ul { text-align: center;}

