/*etiquetas, identificadores, clases y pseudoelementos-> TODOS SE DEBEN PONER EN ORDEN ALFABETICO*/
body 
{
	/*atributos:valor;*/
	background: rgb(255,255,255);
	color: #000000;
	/*maxwidth es el ancho maximo de la pantalla*/
	margin:0 auto;
	/*0 significa que no se mueve ni arriba ni abajo, el auto distribuye el espacio vacio a ambos lados de la caja*/
	max-width: 1024px;
}

header 
{
	background: gray;
	border:1px solid gray;
	border-radius: 10px; 
	color: white;
}

header h1 
{
 	text-shadow:2px 2px 1px black;/* El tercer parametro atenua la sombra*/
	text-align: center;
}

header img 
{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	width: 80px;
}

header nav ul { text-align: center;}

header nav ul li 
{
	/*border: 1px solid white;*/
	background: white;
	border-radius: 5px;
	box-shadow: -2px 2px black;
	color: black;
	display: inline-block; /*Rompe modelo de cajas*/
	margin-right: 40px;
	padding: 10px;
}

header nav ul li:hover
{
	background: black;
	color: white;
}

/*Aqui van los IDs*/
#seccion1 {/* border: 20px solid black; */}

#seccion1 article 
{ 
	/*border:2px solid red;*/
	display: inline-block;
	vertical-align: top;
	width: 49%;
}



