body 
{
	border: 1px solid blue;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;	
}

footer
{
	background: #0E6CB0;
	margin-bottom: 0px;
}

header { background: #B3D8EB;}

header nav 
{
	background: #0E6CB0;
	border-radius: 4px;
	padding: 0.5px 0px 0.5px 0px;
}

header nav ul li
{
	display: inline-block;
	margin-right: 20px;
	color: white;
}
.container article 
{
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.lookmore 
{
	border-style: none;
	border-radius: 2px;
	border: 1px solid gray;
	color: blue;
	margin-left: 100px;
	padding: 6px 16px 6px 16px;
}
#logo 
{
	margin-top: -200px;
}