body 
{
	border: 1px solid blue;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;	
}

header 
{
	background: #B3D8EB;
}

header nav 
{
	background: #0E6CB0;
	border-radius: 4px;
	padding: 0.5px 0px 0.5px 0px;
}

header nav ul li
{
	display: inline-block;
	margin-right: 20px;
	color: white;
}

#logo 
{
	margin-top: -200px;
}