body {
	margin: 0 auto;
	width: 1024px;
}

header {
	height: 180px;
}

header nav {
	background: -webkit-linear-gradient(top,#D64E04 -85%,#F7AB68,#D64E04);
	background: -moz-linear-gradient(top,#D64E04 -85%,#F7AB68,#D64E04);
	border-radius: 6px;
	color: white;
	padding: 1px;
	margin-left: 7px;
	margin-top: 60px;
	width: 1010px;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

.OrangeBox {
	background: -webkit-linear-gradient(top,#D64E04 -85%,#F7AB68,#D64E04);
	background: -moz-linear-gradient(top,#D64E04 -85%,#F7AB68,#D64E04);
	border-radius: 18px;
	color: white;
	font-size: 22px;
	height: 40px;
	padding: 4px;
	text-align: center;
	width: 98%;
}
#admin {
	border-bottom: 1px solid #999999;
	border-radius: 10px;
	color: #999999;
	padding-left: 10px;
}

#ArticleBuscador {
	border: 1px solid #999999;
	border-radius: 18px;
	margin-bottom: 10px;
}

#ArticleCateg {
	border: 1px solid #999999;
	border-radius: 18px;
	margin-bottom: 10px;
}

#ArticleCateg  ul li {
	border-bottom: 1px dotted;
	border-bottom-color: black; 
	color: #999999;
	margin-right: 30px;
	padding: 10px;
}

#ArticlePubli {
	border: 1px solid #999999;
	border-radius: 18px;
	text-align: center;
	margin-bottom: 10px;
}

#boton {
	background: #999999;
	border: none;
	border: 1px solid #999999;
	border-radius: 100%;
	color: white;
	height: 30px;
	text-align: center;
	width: 30px;
}

#containerBusca {
	background: #F4F4F4;
	border: 1px solid #999999;
	border-radius: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
	margin-top: 20px;
	padding: 2px;
	text-align: center;
	width: 80%;
}

#containerBusca input {
	background: white;
	border: 1px solid #999999;
	border-radius: 18px;
	border-style: none;
	width: 240px;
}

#image {
	background: #999999;
	padding: 10px;
	text-align: center;
	width: 30%;
}

#image img { border: 2px solid #999999;}

#image, #parrafo {
	display: inline-block;
	vertical-align: top;
}

#img2 { text-align: left;}

#img1 { text-align: right;}

#img4 {	text-align: left;}

#img3 {	text-align: right;}

#img1, #img2 {
	display: inline-block;
	margin-top: 10px;
	width:49%;
}

#img3, #img4 {
	display: inline-block;
	margin-bottom: 10px;
	width:49%;
}

#mytema {
	color: white;
	font-size: 30px;
	font-style: bold;
	padding-left: 16px;
	text-shadow: 1.5px 1.5px 1.5px #999999;
}

#mytema, #networks {
	display: inline-block;
	vertical-align: top;
	width:46%;
}

#networks { text-align: right;}

#OtherSection { 
	margin-left: 10px;
	margin-top: 50px;
	width: 36%;
}

#parrafo {
	padding-left: 10px;
	width: 60%;
}

#postSection {
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	margin-top: 8px;
	padding-bottom: 20px;
	padding-left: 2%;
	width: 98%;
}

#readmore {
	background: #999999;
	border: none;
	border: 1px solid #999999;
	border-radius:12px;
	color: white;
	font-size: 18px;
	height: 40px;
	margin-top: 10px;
	text-align: center;
	width: 100px;
}

#sliderSection {
	margin-top: 50px;
	margin-left: 10px;
	width: 60%;
}

#sliderSection, #OtherSection {
	display: inline-block;
	vertical-align: top;
}

#titulo {
	color: #999999;
	font-size: 30px;
	font-style: bold;
	margin-bottom: 16px;
	margin-top: 16px;
	width: 100%;
}
