body {
	margin: 0 auto;
	width: 1024px;
	background: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

header {
	font-size: 120px;
	text-align: center;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
}

.container1 {
	width: 48%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#ticTacToe {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#TicTac tr td {
	width: 100px;
	height: 100px;
	font-size: 80px;
	text-align: center;
	border: 4px solid white;
	color: red;
}

#TicTac {
	border-collapse: collapse;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;	
	margin-bottom: 10%;
	margin-top: 10%;
}

#container {
	width: 100%;
}

#scores {
	font-size: 24px;
	border-collapse: collapse;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 10%;
}

#scores tr td {
	border: 2px solid white;
	text-align: center;
}

.container2 {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

#matches1 {
	background: red;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	display: table-cell;
    vertical-align:middle;
    text-align:center;   
}

#title {
	font-size: 60px;
}
/*
#td1, #td2, #td3 {
	border-bottom: 4px solid red;

}

#td7, #td8, #td9 {
	border-top: 4px solid red;

}

#td1, #td4, #td7 {
	border-right: 4px solid red;
}

#td3, #td6, #td9 {
	border-left: 4px solid red;
}
*/

