body {
	margin: 0 auto;
	width: 1024px;
}

header {
	font-size: 120px;
	text-align: center;
}

#ticTacToe {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#game {
	font-size: 40px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

table tr td {
	width: 100px;
	height: 100px;
	font-size: 80px;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;	
	margin-bottom: 10%;
}

#td1, #td2, #td3 {
	border-bottom: 4px solid red;
/*	border-right: 2px solid red;*/
}

#td7, #td8, #td9 {
	border-top: 4px solid red;
/*	border-right: 2px solid red;*/
}

#td1, #td4, #td7 {
	border-right: 4px solid red;
}

#td3, #td6, #td9 {
	border-left: 4px solid red;
}

#container {
	width: 100%;
}
