body {
	font-family: 'Amatic SC', cursive;
	margin: 0 auto;
	width: 1024px;
}
 
h2 {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; 
}

#myHeader {
	background-repeat: no-repeat;
	/*
	background-image: url("http://vignette3.wikia.nocookie.net/marvel/images/3/30/Universo_Marvel.png/revision/latest?cb=20131005183103&path-prefix=es");
	*/
	background-image: url('../img/marvel.png');
	height: 670px;
	padding-top: 200px;
	text-align: center;
	width: 100%;
}

#myInput {
	background: white;
	border: none;
	color: red;
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	height: 60px;
	padding: 20px;
	width: 500px;
}

.picture {
	border-radius: 50%;
	border: 2px solid white;
	height: 120px;
	width: 120px;
}

#myButton {
	background: red;
	border: none;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 24px;
	height: 60px;
	width: 120px;
}

#myTable {
	/*background: red;
	background-color: transparent; */
	border: 4px solid black;
	color: black;
	font-size: 30px;
	margin-bottom: 40px;
	text-align: center;
	width: 100%;
}

table tr { border: 2px solid black; }

.weFound {
	color: white;
	font-size: 40px;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; 
}

#coincidences {
	color: red;
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000; 
}

#desc {
	color: black;
	font-family: 'Permanent Marker', cursive;
	width: 40%;
}

#name {
	color: black;
	font-family: 'Permanent Marker', cursive;
	width: 20%;
}

#img {
	color: black;
	font-family: 'Permanent Marker', cursive;
	width: 130px;
}

#number {
	color: black;
	font-family: 'Permanent Marker', cursive;
	width: 10%;
}

#comics {
	color: black;
	font-family: 'Permanent Marker', cursive;
	width: 10%;
}

#final {
	color: red;
	font-size: 24px;
	text-align: center;
}